.phpunit.result.cache
/nova

### Laravel ###
vendor/*
!vendor/eugenerealtygroup/
node_modules/
npm-debug.log
yarn-error.log

# Laravel 5 & Lumen specific
public/storage
public/media
public/hot
storage/*.key
storage/medialibrary
.env
Homestead.yaml
Homestead.json
/.vagrant

# Don't include lock file so it stops causing issues at deployment
#/composer.lock
