
// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: futura-pt, sans-serif;
$font-size-base: 1rem;
$line-height-base: 1.6;
$font-weight-light: 300;
$font-weight-book: 400;
$font-weight-medium: 500;
$font-weight-demi: 600;
$font-weight-heavy: 700;
// For Futura Bold weight, you must use font-family: futura-pt-bold; font-weight: 700;
$font-weight-extra-bold: 800;



// Colors
$blue: #26A7DE;
$blue-light: #6dd8ff;
$blue-dark: #0078ac;
$green: #43C143;
$green-light: #7bf572;
$green-dark: #008f0a;
$primary: $blue;
$primary-light: $blue-light;
$primary-dark: $blue-dark;
$secondary: $green;
$secondary-light: $green-light;
$secondary-dark: $green-dark;

$border-color: #888888;

$theme-colors: (
    primary: $blue,
    primary-light: $blue-light,
    primary-dark: $blue-dark,
    secondary: $green,
    secondary-light: $green-light,
    secondary-dark: $green-dark
);

// Links
//
// Style anchor elements.
$link-color: theme-color("primary");
$link-hover-color: darken($link-color, 100%);
