
// Fonts
//@import url('https://fonts.googleapis.com/css?family=Lato');
// Futura PT font family from Adobe Creative Cloud
@import url("https://use.typekit.net/mlm6gmo.css");

@import "~bootstrap/scss/functions";

// Variables
@import 'variables';

// Custom.scss
// Option B: Include parts of Bootstrap

// Required
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

// Optional
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/code";
@import "~bootstrap/scss/grid";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.testing-highlight {
    background-color: #563d7c26;
    border: 1px solid #563d7c26;
}

body {
    background-color: #F2F2F2;
}

// Links
a.text-primary:focus,
a.text-primary:hover {
    color: $primary-dark;
}

a.text-secondary:focus,
a.text-secondary:hover {
    color: $secondary-dark;
}

.wvfsbos-logo a:hover {
    color: $primary;
    text-decoration: none;
}

// Headings
h1, h2, h3 {
    color: $primary;
    font-weight: $font-weight-light;
}

h4, h5, h6 {
    color: $secondary;
    font-weight: $font-weight-demi;
}

#page-title {
    font-weight: $font-weight-demi;
    margin-block-end: 1rem;
}

.navbar-laravel {
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.navbar-fsbos {
    background-color: $blue;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
    font-weight: $font-weight-book;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
}

.navbar-brand.wvfsbos {
    color: white;
    font-family: futura-pt-condensed, sans-serif;
    font-weight: $font-weight-medium;
    font-size: 1.8rem;
    line-height: 1;
}

#wvfsbos .wvfsbos-logo {
    font-family: futura-pt-condensed, sans-serif;
    font-size: 3.125rem;
}

.btn-primary {
  color: white;
}

// Listing Card
.listing-card .list-group-item {
    border: none;
    padding: 0rem 0.625rem;
}

.listing-card .list-group-item:last-child {
    margin: 0;
    padding-bottom: 0.625rem;
}

.listing-card .detail-list-group {
    display: flex;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
}

.listing-card .detail-list-group .detail-list-group-item {
    position: relative;
    display: block;
}

.listing-card p {
    margin-bottom: 0.25rem;
}

.listing-card .price {
    color: $green;
    font-size: 1.75rem;
    font-weight: $font-weight-demi;
}

.listing-card .location {
    color: #707070;
    font-size: 1rem;
    font-weight: $font-weight-book;
}

.listing-card .details {
    color: #707070;
    font-size: 1.125rem;
}

.listing-card .btn-details,
.listing-details .btn-details {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    color: white;
    font-size: 0.75rem;
    font-weight: $font-weight-medium;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    width: 100%;
}

// Listing Show
.listing-details {
    background: #f2f2f2;
}

.listing-detail {
    line-height: 1;
}

.listing-details .price {
    color:#43C143;
    font-size: 1.875rem;
    font-weight: $font-weight-heavy;
}

.listing-details small {
    color: $border-color;
    font-size: 1.1rem;
}

.listing-details .beds,
.listing-details .baths,
.listing-details .sqft,
.listing-details .per-sqft {
    font-size: 1.75rem;
}

.description {
    font-size: 1.125rem;
}

.page-footer {
    background: $primary;
}

.guest .blurrable {
    filter: blur(9px) grayscale(70%);
    -webkit-filter: blur(9px) grayscale(70%);
}

// Carousel
.carousel-control-next,
.carousel-control-prev,
.carousel-control-next:focus,
.carousel-control-prev:focus
// .carousel-control-next:hover,
// .carousel-control-prev:hover
 {
    opacity: 1;
}

// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    #wvfsbos .wvfsbos-logo {
        font-size: 3.75rem;
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}
